<?xml version="1.0" ?>
<!DOCTYPE module PUBLIC
        "-//Checkstyle//DTD Checkstyle Configuration 1.2//EN"
        "https://checkstyle.org/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="PackageName">
            <property name="format"
                      value="com\.banco\.transacciones.*"/>
        </module>
        <module name="MethodLength">
            <property name="max" value="50"/>
        </module>
        <module name="TypeName">
            <property name="format" value="[A-Z][a-zA-Z0-9]*"/>
        </module>
        <module name="MethodName">
            <property name="format" value="[a-z][a-zA-Z0-9]*"/>
        </module>
        <module name="LeftCurly"/>
        <module name="RightCurly"/>
    </module>
</module>